body {
    background-color: #1B262C;
}

.imagenes{
    z-index: -1;
    position: absolute;
}

#cpuImagen{
    position: absolute;
    top: 10px;
    width: 400px;
    height: 200px;
    left: 0px;

}

#monitorImagen{
    width: 350px;
    left: 450px;
    position: absolute;
}

#impresoraImagen{
    width: 300px;
    top: 300px;
    left: 450px;
    position: absolute;  
}

#text{
    position: relative;
    background-color: #0F4C75;
    color: #030704;
    font-size: 12px;
    left: 0px;
    top: 10px;
} 


/* ------------------------------------------- */

#cardMuestraMemoria{
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: auto;
    background-color: #3282B8;
    width: 200px;
    left: 850px;
    height: 550px;
    font-size: 12px;
    position: absolute;
    
}

#cardMuestraMemoria::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#cardMuestraMemoria::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 10px;
}

#cardMuestraMemoria::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#cardFile{
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: auto;
    background-color: #3282B8;
    width: 200px;
    height: 350px;
    top: 250px;
    left: 0px;
    font-size: 12px;
    position: absolute;
}

#cardFile::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#cardFile::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 10px;
}

#cardFile::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}


#cardVariables{
    background-color: #3282B8;
    overflow-x:auto;
    white-space: nowrap;
    width: 200px;
    height: 170px;
    left: 200px;
    top: 250px;
    font-size: 12px;
    position: absolute;
}

#cardVariables::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#cardVariables::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 10px;
}

#cardVariables::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#cardEtiquetas{
    background-color: #3282B8;
    overflow-x:auto;
    white-space: nowrap;
    width: 200px;
    left: 200px;
    height: 180px;
    top: 420px;
    font-size: 12px;
    position: absolute;
}

#cardEtiquetas::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#cardEtiquetas::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 10px;
}

#cardEtiquetas::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#cardScreen{
    background-color: #0a0101fd;
    overflow-x: auto;
    white-space: nowrap;
    top: 50px;
    left: 460px;
    width: 330px;
    height: 190px;
    position: absolute;
}

#cardScreen::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

#cardScreen::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 5px;
}

#cardScreen::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#cardImpresora{
    background-color: #ffffff;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 18px;
    top: 440px;
    left: 500px;
    width: 190px;
    height: 150px;
    position: absolute;
}

#cardImpresora::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

#cardImpresora::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 5px;
}

#cardImpresora::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* ------------------------------------------- */

#textProgramMode{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 100px;
    left: 730px;
    top: 500px;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    
}

#nameProgram{
    background-color: rgb(78, 78, 78);
    color: #ffffff;
    width: 100px;
    left: 730px;
    top: 530px;
    padding: 10px;
    font-size: 12px;
    position: absolute;

}
#proceso{
    font-size: 14px;
    height: 70px;
    position: absolute;
}

#cardProcesos{
    width: 600px;
    height: 350px;
    left: 1050px;
    top: 50px;
    position: absolute;
}

#cardProcesosEnEspera{
    background-color: #3282B8;
    overflow-x: auto;
    white-space: nowrap;
    width: 340px;
    height: 290px;
    left: 1060px;
    top: 300px;
    font-size: 14px;
    outline: solid 2px #4a4a4a;
    outline-offset: 2px;
    position: absolute;
}

#cardProcesosEnEspera::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#cardProcesosEnEspera::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 10px;
}

#cardProcesosEnEspera::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}